body > section > header {
    background-color: #2ecc71;
    -webkit-box-shadow: inset 0 -1px #27ae60, 0 1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 -1px #27ae60, 0 1px rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0 -1px #27ae60, 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 -1px #27ae60, 0 1px rgba(0, 0, 0, 0.1);
}

body > aside {
    background-color: #333;
}

body > section > article {
    background-color: #f0f2f4;
}

section > header > nav:not(.on-right) a,
section > header > nav a {
    color: #fff;
}

section > header > nav a,
section > header > nav:not(.on-right) a,
body > section > header .title {
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
}

aside .list li.active .icon,
aside .list li:active .icon,
aside .list li:hover .icon {
    color: #2ecc71;
}

aside .list ul {
    font-size: 14px;
}

aside .list li {
    border-bottom: 1px solid #444;
}

aside .list li.active,
aside .list li:active,
aside .list li:hover {
    background-color: #555;
}

aside .list li:hover {
    cursor: pointer;
}

aside .list li > input {
    width: 100%;
}

aside .list li:not(.active) .tag:not(.icon),
aside .list li a:not(.active) .tag:not(.icon) {
    background-color: #555;
}

section header nav a:hover,
section header nav a:focus {
    text-decoration: none;
}

aside > header {
    border-bottom: 1px solid #444;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.content-header {
    padding: 10px 30px 10px;
    background-color: #fff;
    border-bottom: 1px solid #d2d4d6;
}

.content-body {
    padding: 30px 10px 30px;
}

.content-body .panel {
    border-radius: 0;
}

.content-header > .breadcrumb {
    margin-bottom: 0;
    background-color: #fff;
    font-size: 80%;
}

.content-body .panel-footer {
    background-color: #fff;
}

.content-body .panel-body {
    padding: 0;
}

.content-body .panel-body > .table {
    margin-bottom: 0;
}

.content-body .panel-body > .table tbody {
    font-size: 14px;
    color: #777;
}

.content-body .panel-body > .table th {
    font-weight: bold;
}

span.value:after {
    content: "€";
}

