/*
 * Style tweaks
 * --------------------------------------------------
 */
html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

html, body {
  height: 100%;
}

.login {
  background-color: #77cc33;
}

.login .container {
  max-width: 320px;
  margin: 0 auto;
  color: #fff;
  padding-top: 80px;
}

.login form {
  margin-top: 40px;
}

.login form input {
  background-color: #77cc33;
  border: 2px solid #fff;
  border-radius: 4px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  color: #fff;
}

.login .form-control:focus {
  border-color: #fff;
  color: #fff;
}

.login button {
  width: 100%;
  margin-top: 20px;
  height: 40px;
  border-radius: 1px;
  background-color: #fff;
  color: #77cc33;
}

.row {
  margin: 0;
  min-height: 100%;
  height: 100%;
  background-color: #fff;
}

.col-xs-6, .col-xs-12,
.col-sm-3, .col-sm-9 {
  padding: 0;
}

.sidebar-offcanvas {
  height: 100%;
  background-color: #FCFBF7;
  color: #75767D;
  position: fixed;
  padding-bottom: 50px; /* for the logout button */
  box-shadow: inset -5px 1px 10px -6px #ccc;
  overflow: auto;
}

.content {
  margin-left: 25%;
  color: #75767D;
}

.sidebar-offcanvas > .media {
  padding: 10px;
  border-bottom: 1px solid #E9E8E3;
  margin-bottom: 10px;
}

.sidebar-offcanvas .input-group {
  border-bottom: 1px solid #E9E8E3;
  padding: 0px 5px 10px 5px;
}

/* To remove the annoying input top box shadow from ipads */
input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.sidebar-offcanvas .input-group > .form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.input-group-addon {
  border-radius: 0;
}

.sidebar-offcanvas .list-group-item {
  background-color: inherit;
  border: 0;
  color: #75767D;
  height: 60px;
  padding: 20px 15px 20px 25px;
}

.sidebar-offcanvas .list-group-item:last-child {
  padding-right: 25px;
}

.sidebar-offcanvas .list-group-item:focus,
.sidebar-offcanvas .list-group-item:hover,
.sidebar-offcanvas .list-group-item.active,
.sidebar-offcanvas .list-group-item.active:hover,
.sidebar-offcanvas .list-group-item.active:focus,
body._search .list-group-item._search,
body._calendar .list-group-item._calendar,
body._profile .list-group-item._profile,
body._list .list-group-item._list,
body._history .list-group-item._history
 {
  background-color: #77cc33;
  color: #fff;
  border-color: #77cc33;
}

.sidebar-offcanvas .list-group-item:first-child,
.sidebar-offcanvas .list-group-item:last-child {
  border-radius: 0;
}

.sidebar-offcanvas .list-group-item:not(:first-child) {
  border-top: 1px solid #E9E8E3;
}

.sidebar-offcanvas .list-group-item:nth-child(5) {
  border-bottom: 1px solid #E9E8E3;
}

.sidebar-offcanvas .list-group-item.active > .badge {
  color: #77cc33;
}

.list-group-item .glyphicon {
  margin-right: 8px;
}

.log-out {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.navbar {
  background-color: #fff;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #E9E8E3;
}

.navbar .input-group-addon {
  background-color: #fff;
  padding-right: 0;
}

.navbar .input-group .form-control {
  border-left: 0;
}

.navbar .input-group .form-control:focus {
  border-color: #ccc;
}

.navbar .dropdown.sorting {
  border-left: 1px solid #E9E8E3;
  margin-left: 15px;
}

.navbar-default .navbar-nav > li > a {
  color: #75767D;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background-color: #F8F8F8;
  color: #666;
}

.navbar-default .navbar-nav>.dropdown>a .caret {
  margin-left: 20px;
  border-top-color: #75767D;
  border-bottom-color: #75767D;
}

.navbar-default .navbar-nav>li:hover,
.navbar-default .navbar-nav>li:focus {
  background-color: #F8F8F8;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret,
.navbar-default .navbar-nav>.dropdown>a:focus .caret {
  border-top-color: #75767D;
  border-bottom-color: #75767D;
}

.navbar-default .navbar-nav>.open>a .caret,
.navbar-default .navbar-nav>.open>a:hover .caret,
.navbar-default .navbar-nav>.open>a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #75767D;
}

.navbar .navbar-form .form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  /*-webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;*/
}

.package, .product {
  border: 1px solid #E9E8E3;
  margin-bottom: 15px;
  color: #75767D;
}

.package-header,
.product-header {
  background-color: #F8F8F8;
}

.package-header h5,
.product-header h5 {
  padding: 10px;
  margin-top: 0;
  color: inherit;
  margin: 0;
}

.package-footer,
.product-footer {
  text-align: center;
  border-top: 1px solid #E9E8E3;
  padding: 6px;
}

/*.package-footer .col-sm-3:last-child {
  height: 69px;  a bit stupid, but solved my problem 
  line-height: 69px;
}*/

.package-footer .col-sm-3:not(:first-child),
.product-footer .col-sm-3:not(:first-child) {
  border-left: 1px solid #E9E8E3;
}

.package-footer button {
  color: #75767D;
}

.page-header {
  padding-left: 15px;
  border-bottom: 0;
  margin-bottom: 0;
}

.progress-bar-success {
  background-color: #77cc33;
}
